# Specific files to ignore
.gitignore
.envfile

# Directories to ignore (partially)
__pycache__

# Mugen model directory (excluding specific files)
mugen/models/*.pyc  # Compiled Python bytecode

# Include specific files/directories within models
!mugen/models/agent.py
!mugen/models/main.py
!mugen/models/model.py
!mugen/models/templates/
!mugen/models/static/